body {
  margin: 0;
  font-family: sans-serif;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease;
}

.card {
  min-width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.7);
}

.card a {
  display: block;
  color: #00f; /* ou branco, conforme desejar */
  text-decoration: underline;
  z-index: 5;
  position: relative;
  color: white; /* Cor normal do link */
  text-decoration: none;
  transition: color 0.3s ease; /* Suaviza a troca de cor */
  font-size: .9375rem;
}

.card-link {
  margin-top:1rem;
  font-size: large 0.9rem;
  text-align: center;
  max-width: 90%;
  word-break: break-word;
}

.card a:hover {
  color: #00aaff; /* Azul claro no hover */
  text-decoration: underline; /* Opcional */
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,0.3);
}

.carousel-button.prev { left: 0.625rem; }
.carousel-button.next { right: 0.625rem; }

footer {
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;
    color: #4b5563;
    font-size: 0.875rem;
}

