#primary{
    padding-block: 1.25rem;/*seve para marca tanto no eixo x e y o valor marcado*/

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    /*nesting css(serve para procurar o filho dentro do conteudo principal e deixa mais organizado)*/
    div:nth-child(2){
        margin-inline: auto;

    }

    div:nth-child(3){
        justify-self: end;
    }

}

#secondary{
    padding-block:0.875rem;
    border: solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}