
section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);


     a{
        justify-self: end;
        align-items: center;
        gap: 8px;

        span{
            background-image: url(../assents/icons/ArrowRight.svg);
            height: 16px;
            width: 16px;
        }

        &:hover span{
            background-image: url(../assents/icons/ArrowRight-hover.svg);
        }

    }
    
}


#featured{
    grid-area: featured;
    img{
        block-size: 100%;
        object-fit: cover;
        
    }
}

.card{
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &::before{ /*O & nesse contexto está fazendo o mesmo que que .card::before{}*/
        content: "";
        position: absolute;
        inset: 0;
        inset-block-start: 50%;
        background: linear-gradient(180deg, #02061700,#020617);
        /*background: linear-gradient(
            180deg
            transparent 0%,
            #020617 100%
        );*/

    }

    figcaption {
        position: absolute;
        inset-block-end: 0;

        padding: 24px;

        &:has(.text-lg){
            padding: 12px;
        }

        h2{
            margin-block-start: 8px;
        }
    }
}   

#weekly {

    grid-area: weekly;

    &>div{
        grid-template-columns:repeat(4, 292px);
    }
    
    img {
        block-size: 160px;

    }

    figure {
        position: relative;

        .content-tag{
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p{
            margin-top: 8px;
            font-weight: 800;
        }
    }


}

#ai{
    grid-area: ai;
    img{
        width: 176px;
        aspect-ratio: 1/1;/*serve para deixar a imagem quadrada*/
        object-fit: cover;/*serv para a imagem cobrir toda a area*/

    }

    h3{
        margin-block: 8px 4px ;

    }

}
aside{
    grid-area: aside;
}


#more{
    margin-top: 32px;
    h3{
        margin-top: 8px;
    }

    img{
        width: 72px;
        aspect-ratio: 1/1;/*Deixa a imagem em um quadrado perfeiro*/
        object-fit: cover; /*Faz que a imagem ocupe toda a area designada para ela*/
    }

    

  
}

a.teste{
    display: grid;
    justify-self: end;
    align-items: center;
    gap: 8px;

    

    span{
        
        background-image: url(../assents/icons/ArrowRight.svg);
        height: 16px;
        width: 16px;
    }

    &:hover span{
        
        background-image: url(../assents/icons/ArrowRight-hover.svg);
    }

}