
section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: .75rem 1.5rem;
    font: var(--text-span);


    

}
    



#featured{

    grid-area: featured;

    #primeira{
        height: 30rem;
        object-fit: cover;  
    }

    img{
        height: 100%;
        object-fit: cover;
    }
}

.card{
    position: relative;
    border-radius: .25rem;
    overflow: hidden;

    &::before{ /*O & nesse contexto está fazendo o mesmo que que .card::before{}*/
        content: "";
        position: absolute;
        inset: 0;
        inset-block-start: 50%;
        background: linear-gradient(180deg, #02061700,#020617);
        /*background: linear-gradient(
            180deg
            transparent 0%,
            #020617 100%
        );*/

    }

    figcaption {
        position: absolute;
        inset-block-end: 0;

        padding: 1.5rem;

        &:has(.text-lg){
            padding: .75rem;
        }

        h2{
            margin-block-start: .5rem;
        }
    }
}   

#weekly {

    grid-area: weekly;

        &>div{
        grid-template-columns:repeat(4, 18.25rem);
    }
    
    img {
        block-size: 10rem;

    }

    figure {
        position: relative;

        .content-tag{
            position: absolute;
            top: .5rem;
            left: .5rem;
        }

        p{
            margin-top: .5rem;
            font-weight: 800;
        }
    }


}







    

  


