/*utilitario*/

.grid{
    display: grid;
}

.grid-flow-col{
    grid-auto-flow: column;
}

.grid-cols-2{
    grid-template-columns: 1fr 1fr;
}

.gap-16{
    gap: 1rem;
}

.gap-32{
    gap: 2rem;
}

.text-2xl{/*texto 2x grande*/
    font: var(--h1);

}

.text-xl{/*texto grande*/
    font: var(--h2);

}

.text-lg{/*texto normal*/
    font: var(--h3);

}
.text-sm{
    font: var(--text-sm);
}