@import url(../style/index.css);
#titulo{
    text-align: center;
    margin: 1.125rem 0 0 0;

}


.inicio{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: .4rem;
    padding: 1.2rem;
/* Garante que o h1 não cause o efeito ao passar o mouse sobre ele */
   & .card{
    transition: .2s;
   }
   
   &:hover .card{
    filter: blur(5px);
    opacity: 0.5;
   }

   & .card:hover{
    filter: none;
    opacity: 1;
    transform: scale(1.03);
   }
}

main{
    display: flex;
    flex-direction: column;
    margin: 3.125rem .625rem 3.125rem 3.125rem;

    aside{
        border-top: 2px rgb(34, 34, 34) solid;
        padding-top: 1.25rem;
        

        &.cads{
            display: flex;
            gap: .30rem;
            max-width: 1000px;
        }

        
    }


    img{
        height: 18rem;
    }

    .unica{
        height: 13rem;
    }
}
footer {
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;
    color: #4b5563;
    font-size: 0.875rem;
}