/*#subccontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    position: relative;
    width: 100%;
    max-height: 4.375rem;

     .login{
        justify-content: flex-end;

        & a {
            display: grid;
        }
     }


}
*/

#subccontainer {
    display: flex;
    align-items: center; 
    width: 100%;
    min-height: 4.375rem; 
    padding-block: 1rem; 
    margin-bottom: 1rem; 
    
    
        .topo{ 
            display: flex;
            justify-content: center;
        }


        .login {
            justify-content: end;
            text-align: center;
            margin-right: 5rem;
           
           
            & img{
                width: 3rem;
                height: 3rem;
            }

           & a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: small;
           }
        }

}

.spacer-left {
    flex-grow: 1; /* Faz este elemento ocupar o espaço disponível à esquerda do logo */

}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
input, select {
  margin: 5px 0;
  display: block;
}


